.m-card {
	padding: 1rem;
	// min-width: calc(360px + 2rem);
	flex: 1 1 calc(360px + 2rem);
	&__header {
		font-size: 1.5rem;
		padding: 1em 0;
		border-bottom: 1px solid $inactive-grey-color;
	}
	&__body {
		padding: 0.5em 0;
	}
	&__row {
		display: flex;
		flex-wrap: wrap;
		// justify-content: space-between;
		width: 100%;
		// padding: 0.25em 0;
	}
}
