.table-of-contents {
	&__link {
		&--active,
		&:hover {
			&,
			code {
				color: $calendar-theme-color;
			}
		}
	}
}

.main-docs-wrapper {
	background-color: $main-bg-color;
	&,
	code {
// 		color: #55687b;
		color: #3e4d5c;
	}

	.alert {
		&--info {
			background-color: $calendar-theme-color;
			border-color: $calendar-theme-color;
		}
		&--secondary {
			// color: #55687b;
			color: #3e4d5c;
			// background-color: #cbd3e0;
			background-color: #dfe5e5;
			.admonition-icon{ 
				svg {
					// fill: #55687b;
					fill: #3e4d5c;
				}
			} 
		}
	}
}

	

.menu {
	&__link {
		&--active {
			&,
			&:hover {
				color: $calendar-theme-color;
			}
		}
	}
}

