.header {
	font-family: 'Roboto', sans-serif;
	position: fixed;
	top: 0;
	width: 100%;
	color: $text-color-white;
	background-color: $main-theme-color-dark;
	box-shadow: 0 0 10px 2px rgba($main-theme-color-dark, $alpha: 0.6);
}

.menu {
// 	display: block;
// 	position: relative;
// 	text-align: center;
// 	justify-content: space-between;
// 	align-items: center;
// 	padding: 1.2rem 0;
// 	margin: 0 auto;
// 	@include for-desktop {
// 		display: flex;
// 	}

	&__link {
		&--active {
			&, &:hover {
				color: $calendar-theme-color;
			}
		}
	}

// 	&__section--first {
// 		justify-content: center;
// 		align-items: center;
// 	}

// 	a {
// 		text-decoration: none;
// 		color: $text-color-white;
// 	}
}

.logo {
	font-family: 'Salsa', cursive;
	font-size: 1.8rem;
	margin: 0;
}
