.m-container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

.m-row {
	display: flex;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.page {
	font-family: 'Roboto', sans-serif;
	width: 100%;
	min-height: 100%;
	min-height: calc(100vh - 4.5rem);
	padding: 2rem 0;
	// padding: 2rem 0;
}

.main-wrapper {
	background-color: #f5f5f5;
	// margin-top: 4.2rem;
}

.pagination-nav__link:hover {
	border-color: $calendar-theme-color;
	text-decoration: none;
}
